body {
    font-family: Arial, sans-serif;
 }
 header {
   background: lightblue;
   padding: 20px;
   text-align: center;
 }
 main > section {
   margin: 15px 0;
   padding: 20px;
   border: 2px solid lightgray;
   border-radius: 5px;
   background: white;
 }
 footer {
    background: lightblue;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
 }
 